/*
|=============================================|
|=====|ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/
/* ! стилізація SECTION починається із: Padding-Top та Padding-Buttom */

/* ?================hover/focus================ */
/* ?=========================================== */
/*
|=============================================|
|=====|OFF/ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/

/*
|====================================================|
|============|MOBILE STYLES/HEADER|==============|
|====================================================|
*/
/* ?==============точка перелому==================== */
/* ?================================================ */
/*
|========================================================|
|============|OFF/MOBILE STYLES/HEADER|==============|
|========================================================|
*/

/*
|====================================================|
|============|TABLET STYLES/HEADER|==============|
|====================================================|
*/
/* ?==============точка перелому==================== */
/* ?================================================ */
/*
|========================================================|
|============|OFF/TABLET STYLES/HEADER|==============|
|========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1280 STYLES/HEADER|==============|
|==========================================================|
*/
/* ?==============точка перелому==================== */
/* ?================================================ */
/*
|===========================================================|
|============|OFF/DESKTOP_1280 STYLES/HEADER|===========|
|===========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1440 STYLES/HEADER|==============|
|==========================================================|
*/
/* ?==============точка перелому==================== */
/* ?================================================ */
/*
|===========================================================|
|============|OFF/DESKTOP_1440 STYLES/HEADER|===========|
|===========================================================|
*/
